.photo-card {
  width: 420px;
  padding-top: 50px;
  margin: 0 auto;
  box-shadow: 30px 30px 70px 30px rgba(0, 0, 0, 0.2);
  background-position: 0% 50%;
  transform: scale(1);
  transition: all 300ms ease;
  background-repeat: no-repeat;
  position: relative;
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
}

.card-heading {
  margin-bottom: 20px;
  color: #2f2f2f;
  font-family: var(--serif);
  font-size: 55px;
  line-height: 1;
  position: absolute;
  top: 50px;
}

.card-subheading {
  padding-left: 5px;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
}

.photo-card__header {
  padding: 0 40px 470px 45px;
}

.photo-card__footer {
  text-align: center;
}

.photo-card__footer__text {
  padding: 28px 20px;
  display: block;
  color: var(--deep-blue);
  letter-spacing: 3px;
  background-color: var(--white);
  text-decoration: none;
  transition: all 300ms ease;
}
