.head {
  text-align: center;
  position: relative;
}

header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

@media only all and (max-width: 600px) {
  header {
    max-width: 320px;
    font-size: 60px;
    line-height: 54px;
    overflow: hidden;
  }

  .left-box {
    display: none;
  }
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
  display: flex;
  justify-content: space-evenly;
}

.italic {
  font-style: italic;
}

.left-box {
  position: relative;
  width: 12%;
  left: 10px;
  border: 3px double #2f2f2f;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  display: inline-block;
  margin: 0 50px 20px -360px;
}

.form-wrapper {
  position: relative;
}

.form {
  position: absolute;
  border: 3px double #2f2f2f;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  display: inline-block;
  margin: 0 50px 20px -360px;
  width: 200px;
  height: 100px;
  z-index: 10;
  background: #f9f7f1;
  top: 20px;
  left: 270px;
}

a {
  color: inherit;
  text-decoration: underline;
}

.form-wrapper input {
  margin: 0.6em auto;
  border: none;
  background-color: #f9f7f1;
  outline: none;
  border-bottom: 1px solid #2f2f2f;
}

input {
  background-color: #f9f7f1;
  outline: none;
  border: none;
  border-bottom: 1px solid #2f2f2f;
}

input::placeholder {
  text-align: center;
}

@media (max-width: 600px) {
  header {
    max-width: 420px;
    font-size: 60px;
    line-height: 54px;
    overflow: hidden;
  }
}
